body {
    background-image: url("https://i.pinimg.com/originals/47/1a/08/471a08fc76dc51e61d8cc160a70f3448.jpg");
    height: 100%;
}

#header {
    background-color: orange;
    color: whitesmoke;
    font-size: 300%;
    font-weight: bold;
    padding-bottom: 1%;
}

#pColumn {
    background-color: tan;
    color: green;
}

#randNum {
    background-color: green;
    color: black;
    font-size: 160%;
}

#winLoss {
    background-color: aquamarine;
    color: black;
}

#redButton{
    background-color: transparent;
    float: left;
    margin-left: -1.2%;
}

#blueButton{
    background-color: transparent;
    float: left;
    margin-left: -2%;
}

#yellowButton{
    background-color: transparent;
    float: left;
    margin-left: -2%;
}

#greenButton{
    background-color: transparent;
    float: left;
    margin-left: -2%;
}

#scoreHeader{
    background-color: teal;
    color: whitesmoke;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#randNumAgg{
    background-color: teal;
    color: whitesmoke;
    font-size: 160%;
    padding-bottom: 7%;

}